

.filter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 132px;
    position: relative;
}

.filter_menu {
    display: flex;
    margin-left: 28px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    position: relative;

    &_nav {
        margin-right: 15px;
    }
}

.fa-chevron-down {
    margin-left: 10px;
}

.filter_menu_chk {
    position: relative;
    outline: none;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.fitler_sec_list {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    width: 135px;
    left: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    list-style: none;
    padding: 7px;
}

.fitler_sec_link {
    margin-bottom: 7px;
}

.fitler_thr_list {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    width: 55px;
    left: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px;
}

.fitler_thr_link {
    margin-bottom: 7px;
}

.fitler_for_list {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    width: 69px;
    left: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px;

}

.fitler_for_link {
    margin-bottom: 7px;
}

.fitler_sec_sum,
.fitler_thr_sum,
.fitler_for_sum {
    display: block;

}

.filter_menu_chk[open]>.fitler_sec_sum {
    color: $color_pink;

    &>.fas {
        transform: rotate(360deg);
        transition: .2s;
    }
}

.filter_menu_chk[open]>.fitler_thr_sum {
    color: $color_pink;

    &>.fas {
        transform: rotate(360deg);
        transition: .2s;
    }
}

.filter_menu_chk[open]>.fitler_for_sum {
    color: $color_pink;

    &>.fas {
        transform: rotate(360deg);
        transition: .2s;
    }
}