
.footer {
  background-color: #222224;

  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;

    .copywriter {
      font-size: 16px;
      color: #FBFBFB;
      margin-bottom: 0;
    }

    .social_networks {
      display: flex;
      gap: 8px;

      .social_link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        text-decoration: none;
        font-size: 21px;
        color: #222;
        background-color: white;
        transition: all .2s;

        &:hover {
          text-decoration: none;
        }

      }

      .social_link_f:hover {
        color: white;
        background-color: rgb(33, 18, 240);
      }

      .social_link_i:hover {
        color: white;
        background-color: rgb(243, 34, 215);
      }

      .social_link_p:hover {
        color: white;
        background-color: rgb(240, 18, 29);
      }

      .social_link_t:hover {
        color: white;
        background-color: rgb(33, 18, 240);
      }
    }
  }

}


