
.header {
  background-color: #222222;
  fill: #E8E8E8;
  position: relative;

  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;

    &-left {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 33px;
    }

    .logo_link {
      transition: .2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .src_link, .menu_link, .basket_link, .account_link {
      fill: #E8E8E8;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


/* Invs Menu ====================================== */

.main_nav {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 230px;
  min-height: 764px;
  padding: 35px;
}

.main_nav_open {
  display: block;
}

.main_nav_close {
  display: none;
}

.main_nav_wrapper {
  position: relative;
  width: 100%;
}


.main_nav_closer {
  position: absolute;
  right: -20px;
  top: -20px;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 5px 6px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: #fff;
    background-color: $color_pink;
  }
}

.main_nav_title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.main_nav_subt {
  font-size: 14px;
  line-height: 17px;
  color: $color_pink;
  margin-bottom: 12px;
}

.main_nav_list {
  padding-left: 20px;
  margin-bottom: 20px;
}

.main_nav_item {
  list-style: none;
  margin-bottom: 11px;
}

.main_nav_link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}