
.main_product {
  background-color: #F7F7F7;
  margin: 0 auto;

  &_wrap {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 777px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper {
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .icon_left {
      width: 47px;
      height: 47px;
      font-size: 1.6rem;
      border: 1px solid rgba(42, 42, 42, 0.15);
      color: #000000;
      background-color: rgba(42, 42, 42, 0.15);
    }

    .icon_left:hover {
      color: $color_pink;
    }

    .icon_rigth:hover {
      color: $color_pink;
    }

    .icon_rigth {
      width: 47px;
      height: 47px;
      font-size: 1.6rem;
      border: 1px solid rgba(42, 42, 42, 0.15);
      color: #000000;
      background-color: rgba(42, 42, 42, 0.15);
    }

    .icon_left, .icon_rigth {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}